body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

#particles-js {
    position: absolute; /* Ensure it is fixed in the background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  /* Place it behind all other content */
    pointer-events:all;
}

#name-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; /* Increased spacing between letters for better separation */
}

.name-letter {
    font-size: 3rem;
    color: gray;
    opacity: 0; /* Letters are initially hidden */
    transition: opacity 0.5s ease-in-out;
    position: relative;
    z-index: 0; /* Ensure letters stay below squares */
}

.square {
    transform-origin: bottom;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #3498db;
    /*border-radius: 12px; /* Rounded corners */
    opacity: 0; /* Squares start hidden */
    z-index: 10; /* Squares above letters */
}